<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:utext="${'Hello, ' + username + '!'}"></p>
<p>This is an email for restoring your password.</p>
<p>Please proceed to a link below in order to create a new password:</p>
<a  th:href="${baseUrl + '/reset-password?token=' + token}">Reset password</a>
<p>If you didn't request a password change you can just ignore this email.</p>
<p>
    Regards, <br />
    <em>Vatra Team</em>
</p>
</body>
</html>